
:root {
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --accent-color: #2196F3;
    --primary-white-color:#FFFFFF;
}
  
body {
    margin: 0;
    background-color: var(--primary-white-color);
    font-family: roboto, sans-serif;
}

ul {
    list-style-type: none;
}
/* Шапка сайта */

.page-header {
    outline: 1px solid teal;
    min-height: 80px;
}

.container {
    width: 1200px;
    /*margin: 0;
    padding: 0;*/
}

.site-nav {
    display:flex;
}

.site-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.site-nav-list .link {
    display: block;
    background-color: tomato;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav-list .link:last-child {
    margin-right: o;
}

.contact-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.contact-item {
    display: inline-block;
    background-color: tomato;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
}

.site-nav >.logo {
    display: flex;
}

.logo {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 93px;
    margin-left: 15;

    color: var(--primary-text-color);
    font-family: raleway, sans serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.blue-logo {
    color: var(--accent-color);
}

.logo:hover, 
.logo:focus {
    color: var(--accent-color);
}

.main-title {
    margin-top: 200px;
    margin-bottom: 40px;
    margin-left: 252px;
    margin-right: 252px;
    
    background-color: #000;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.link-registration {
    display: inline-block;
    min-width: 200px;
    position: absolute;
    padding-top: 10 32px;
    ppadd
    margin-bottom: 200px;
    margin-left: 700px;
    margin-right: 700px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: var(--primary-white-color);
    text-decoration: none;
}

.item-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.66;
    color: var(--primary-text-color);
}

.text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    color: var(--primary-text-color);
}

.item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
}

.job-position,
.project-text {
    font-size: 16px;
    line-height: 1.9;
    color:var(--secondary-text-color);
    text-decoration: none;
}

.project-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
    text-decoration: none;
}

.project-link {
    text-decoration: none;
}

.primary-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.primary-button:hover,
.primary-button:focus {
    color: var(--accent-color);
    text-decoration: none;
}

.secondary-button {
    color: var(--primary-text-color);
}

.secondary-button:hover,
.secondary-button:focus {
    color: var(--accent-color);
    text-decoration: none;
}

.site-nav .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
    
}
/*-- Футер --*/

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color);
}

.contact-item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color:var(--secondary-text-color);
    text-decoration: none;
}

.contact-item:hover, 
.contact-item:focus {
    font-style: normal;
    color: var(--accent-color);
    
}


